
    h1 {
        color:blue;
        text-align:center;
    }
    p{
        color:purple;
        font-size: 20px;
    }
    BODY{
        background-color: #f5f5f5;
        font-family: arial,scans-serif;
    }