body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    color: white;
   
  background-image:url(1079047.jpg);
  background-size: cover;                  
  background-position: center;             
  background-repeat: no-repeat;           
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px 50px;
    background-color: black;
}

.logo {
    margin: 0;
    color: #00ffcc;
}

.menu {
    list-style: none;
    display: flex;
    gap: 20px;
}

.menu li {
    cursor: pointer;
}

.menu li:hover {
    color: #00ffcc;
}

.hero {
    text-align: center;
    padding: 100px 20px;
}

.hero h2 {
    font-size: 40px;
}

.play-btn {
    padding: 10px 25px;
    font-size: 18px;
    border: none;
    background-color: #00ffcc;
    cursor: pointer;
    border-radius: 5px;
}

.play-btn:hover {
    background-color: white;
    color: black;
}

.features {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 50px;
}

.card {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    width: 250px;
    text-align: center;
}

.card:hover {
    background-color: rgba(255, 255, 255, 0.2);
}