h1 {
    
    color: red;
    margin-bottom: 30px;

}
table {

    background-color: lightblue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;

}
button:hover {
    background-color: darkblue;
}